// rounded corners
.seller-round-corners {
    border-radius: 10px;
}

//button in accordian
.seller-accord-button {
    color: #00B4CC; //#1266f1;
}

//progressbar styles
.seller-imges-progressbar {
    width: 100% !important;
    height: 30px !important;
    margin-top: 20px;
}

//upload btn margin
.seller-upload-btn-margin {
    margin-top: 20px;
}