// rounded corners
.seller-rounded-curners {
    border-radius: 10px;
}

//button in accordian
.seller-accord-btn {
    color: #00B4CC; //#1266f1;
}

//progressbar styles
.seller-img-prgressbar {
    width: 100% !important;
    height: 30px !important;
    margin-top: 20px;
}

//upload btn margin
.seller-upld-btn-margin {
    margin-top: 20px;
}