
// scss for the buttons

  .buyerBookTourbutton{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:10px;
  }

  
.buttonInfo{
  background-color: #f34079;
  border: none;
  width:30px;
  font-size: 5px;
  color: white;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
} 