
.chart{ 
    //displaying and designing as a block
    padding: 50px;
    width:55%;
    height:50%;
    display: block;
}
.chart3{
    padding: 50px;
    width:55%;
    height:50%;
    display: block;
}
.getgraph{
    //adding space to the left
    // margin-left: 345px;
    margin-top: 30px;
    margin-left: 200px;
    background: linear-gradient(135deg, #f34079 40%, #fc894d);  
}
